<section class="section-center">
    <div class="auth-section">
        <div class="section-name">{{ 'REGESTRER.title' | translate }}</div>
        <div class="register-section center-this">
            <form [formGroup]="register" (ngSubmit)="onSubmit()">
                <div class="form-elment email-form">
                    <label for="email">
                        {{ 'REGESTRER.emailaddressField' | translate }}
                    </label>
                    <div 
                        class="validError bg-danger text-white emailValidErrors"  
                    >
                        <div *ngIf="register.controls.email.invalid">
                            <li *ngIf="register.controls.email.errors.required">
                                {{ 'REGESTRERVALID.emptyEmail' | translate }}
                            </li>
                            <li 
                                *ngIf="register.controls.email.errors.email">
                                {{ 'REGESTRERVALID.invalidEmail' | translate }}
                            </li>
                            <li 
                                *ngIf="emailSection.isNotavailable">
                                {{ 'REGESTRERVALID.notaverible' | translate }}
                            </li>
                            <li 
                                *ngIf="emailSection.isBanned">
                                {{ 'REGESTRERVALID.banedword' | translate }}
                            </li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                        </div>
                        <div class="col-11">
                            
                            <input 
                                class="form-control email" 
                                for="email" 
                                type="text" 
                                placeholder="cos@domek.pl"
                                formControlName="email"
                            >
                            <small 
                                id="emailHelp" 
                                class="form-text text-muted">
                                {{ 'REGESTRER.emailHelp' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-elment data-form">
                    <label for="birthday">{{ 'REGESTRER.birthday' | translate }}</label>
                    <div class="validError bg-danger text-white birthdayValidErrors">
                        <div *ngIf="register.controls.birthday.invalid">
                            <li 
                                *ngIf="register.controls.birthday.errors.required">
                                {{ 'REGESTRERVALID.inValidbirthday' | translate }}
                            </li>
                            <li>{{ 'REGESTRERVALID.emptyBirthday' | translate }}</li>
                        </div>
                    </div>
                    <input 
                        type="date" 
                        class="form-control birthday" 
                        id="Password"
                        formControlName="birthday"
                    >
                </div>
                <div class="form-elment Password-form ">
                    <label for="Password">
                        {{ 'REGESTRER.passwordField' | translate }}
                    </label>
                    <div class="validError bg-danger text-white passwordValidErrors">
                        <li>
                             {{ 'REGESTRERVALID.emptyPassword' | translate }}
                        </li>
                        <li>{{ 'REGESTRERVALID.passtoWeek' | translate }}</li>
                        <li>{{ 'REGESTRERVALID.passNotthesame' | translate }}</li>
                    </div>
                    <div class="progress">
                        <div 
                            class="progress-bar" 
                            style="width: 0" 
                            role="progressbar" 
                            aria-valuenow="0" 
                            ria-valuemin="0" 
                            aria-valuemax="100">
                        </div>
                    </div>
                    <input 
                        type="password" 
                        class="form-control password" 
                        id="Password"
                        formControlName="password"
                    >
                    <small 
                        id="passwordHelp" 
                        class="form-text text-muted">
                        {{ 'REGESTRER.passwordhelp' | translate }}
                    </small>
                </div>
                <div class="form-elment Password-repeat-form">
                    <label 
                        for="exampleInputPassword1">
                        {{ 'REGESTRER.passwordRepeat' | translate }}
                    </label>
                    <div class="validError bg-danger text-white PasswordRepeatValid">
                        <li>{{ 'REGESTRERVALID.emptyPassword' | translate }}</li>
                        <li>{{ 'REGESTRERVALID.passNotthesame' | translate }}</li>
                    </div>
                    <input 
                        type="password" 
                        class="form-control Password-repeat" 
                        id="exampleInputPassword1"
                        formControlName="passwordRepeat"
                    >
                </div>
                <div class="form-elment sex-form">
                    <label 
                        for="exampleInputEmail1">{{ 'REGESTRER.sexField' | translate }}
                    </label>
                    <div class="validError bg-danger text-white">
                        <div *ngIf="register.controls.sex.invalid">
                            <li>{{ 'REGESTRERVALID.emptySex' | translate }}</li>
                        </div>
                    </div>
                    <select class="form-control sex" formControlName="sex" placeholder="wybierz płec">
                        <option value="male">{{ 'REGESTRER.sexFirst' | translate }}</option>
                        <option value="female">{{ 'REGESTRER.sexSecund' | translate }}</option>
                    </select>
                </div>
                <div class="form-elment regulations-form">
                    <div class="row">
                        <div class="col-1">
                            <input 
                                type="checkbox" 
                                class="form-check-input is-invalid" 
                                id="exampleCheck1"
                                formControlName="regulations"
                            >
                        </div>
                        <div class="col-11">
                            <label 
                                class="form-check-label" 
                                for="exampleCheck1">
                                    {{ 'REGESTRER.regulations' | translate }}
                            </label>
                            <span 
                                class="validError">
                                {{ 'REGESTRERVALID.regulationsNotacept' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-primary btn-lg btn-block">
                    {{ 'REGESTRER.registerButton' | translate }}
                </button>
                <button 
                    type="button" 
                    class="btn btn-warning btn-lg btn-block">
                    {{ 'REGESTRER.iarledyhaveAccountButton' | translate }}
                    </button>
            </form>       
        </div>
    </div>
</section>