.section-center{
    margin-top:29px;
    margin-bottom: 29px;
    .login-section{
        margin: 50px;
        .validError{
            background-color: red;
            color: white;
            text-align: left;
            border-radius: 10px;
            li{
                padding: 10px;
            }
        }
    }
}
