<section class="section-center">
    <div class="center-this auth-section">
        <div class="section-name">{{ 'LOGIN.title' | translate }}</div>
        <div class="login-section">
            <div class="validError">
                <li>{{ 'LOGINVALID.invalidData' | translate }}</li>
                <li>{{ 'LOGINVALID.isNotActive' | translate }}</li>
            </div>
            <form>
                <div class="form-elment">
                    <label for="exampleInputEmail1">{{ 'LOGIN.emailaddressField' | translate }}</label>
                    <input type="email" class="form-control is-invalid" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">{{ 'LOGIN.emailHelp' | translate }}</small>
                </div>
                <div class="form-elment">
                    <label for="exampleInputPassword1">{{ 'LOGIN.passwordField' | translate }}</label>
                    <input type="password" class="form-control is-invalid" id="exampleInputPassword1">
                </div>
                <div class="form-elment ">
                    <div class="row">
                        <div class="col-1">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        </div>
                        <div class="col-11">
                            <label class="form-check-label" for="exampleCheck1">{{ 'LOGIN.rememborButton' | translate }}</label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-lg btn-block">{{ 'LOGIN.loginButton' | translate }}</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">{{ 'LOGIN.IdonthaveAccount' | translate }}</button>
                <button type="button" class="btn btn-warning btn-lg btn-block">{{ 'LOGIN.paswordForget' | translate }}</button>
            </form>
        </div>
    </div>
</section>