<section class='section-center'>
    <div  class="center-this choose-language auth-section">
        <div class="section-name">{{ 'CHOOSELANGUAGE.title' | translate }}</div>
        <div *ngFor="let lang of environment.language.langList;" class="lang-elemnt">
            <span data="{{lang.name}}" class="lang">
                <span *ngIf="ifChused(lang); else elseBlock" class="lang-choosed">
                    <img src="{{lang.img}}" class="lang-img"> 
                    <span class="lang-fullname">
                        {{lang.fullname}}
                    </span>
                </span>
                <ng-template class="normal" #elseBlock><img  src="{{lang.img}}"> {{lang.fullname}}</ng-template>
            </span>
        </div>
    </div>
</section>