section{
    .choose-language{
        .lang-elemnt{
            .lang{
                .lang-choosed{
                    .lang-img{
                        margin:20px;
                        width: 100px;
                        height: 100px;
                    }
                    .lang-fullname{
                        font-weight: bolder;
                    }
                }
            }
            img{
                margin:20px;
                width: 100px;
                height: 100px;
            }
        }
    }
}